<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ezhrm.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>7</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
				<key>dateExpires</key>
				<string>19/11/22</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BSGridCollectionViewLayout.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImageView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_settings.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>background_location.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>downloads_path_provider_28.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>esys_flutter_share.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ext_storage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_absolute_path.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_device_locale.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_exif_rotation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_foreground_plugin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_full_pdf_viewer.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_html_to_pdf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_image.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoder.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>get_mac.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>multi_image_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>native_device_orientation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>native_state.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>open_file.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>overlay_screen.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ex.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>pdf_text.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>platform_device_id.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>workmanager.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7SYF462CS7.in.u30days.ezhrm</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7SYF462CS7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>14a016a2-2d93-41cd-b215-af8cbc283615</string>
				<key>dateExpires</key>
				<string>19/11/22</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: in.u30days.ezhrm</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7SYF462CS7</string>
				<key>name</key>
				<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>2.3.1</string>
		</dict>
	</array>
</dict>
</plist>
